@import 'tailwindcss';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset, caramellatte, abyss, silk;
}

@plugin "daisyui/theme" {
  name: "sky";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.013 236.62);
  --color-base-200: oklch(95% 0.026 236.824);
  --color-base-300: oklch(90% 0.058 230.902);
  --color-base-content: oklch(39% 0.09 240.876);
  --color-primary: oklch(72% 0.219 149.579);
  --color-primary-content: oklch(98% 0.018 155.826);
  --color-secondary: oklch(62% 0.265 303.9);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: oklch(62% 0.214 259.815);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(39% 0.09 240.876);
  --color-neutral-content: oklch(97% 0.013 236.62);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

/* Set a global body font. Remember to load the webfont in the HTML head. */

body {
  font-family: "Outfit", sans-serif;
}

/* Set better base font sizes */